* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

header,
.contentBlock,
footer {
    padding: 0 12%;
}

header {
    color: #F9FAF8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.logo {
    font-size: 36px;
    font-weight: 900;
}

.headerLinks {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
    align-items: center;
}

.contentBlock {
    display: flex;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 128px;
    /* border: 1px solid red; */
}

.one {
    background-color: #1f2937;
    color: #F9FAF8;
    gap: 100px;
}

.contentBlockLeft {
    flex: 1 1 0;
}

.contentBlockRight {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-self: stretch;
}

.itemContainer {
    width: 100%;
    height: 100%;
    background-color: #E5E7EB;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    /* opacity: 80%; */
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
    border-radius: 10px;
    padding: 8px 20px;
    margin-top: 12px;
}

.two {
    flex-direction: column;
    align-items: stretch;
    padding-top: 80px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 1em;
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.card {
    max-width: 250px;
}

.border {
    border: 5px solid #3882F6;
    border-radius: 25px;
    aspect-ratio: 1/1;
    margin-bottom: 12px;
}

.info {
    text-align: center;
    font-size: 18px;
}

.three {
    background-color: #e5e7eb;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quoteSource {
    text-align: end;
    font-weight: 700;
    font-size: 18px;
}

.callToAction{
    background-color: #3882F6;
    border-radius: 25px;
    display: flex;
    width: 100%;
    padding: 64px 128px;
}

.callToAction .contentBlockLeft {
    flex: 3 1 0;
}

.contentBlockLeft h2 {
    color:#F9FAF8;
    font-size: 32px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 8px;
}

.contentBlockLeft div {
    color: #E5E7EB;
    font-size: 18px;

}

.buttonContainer {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonContainer button {
    border-color: #F9FAF8;
    border: solid;
    padding: 12px 40px;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 48px;
    font-size: 24px;
    font-weight: 400;
}